In [ ]:
#This imports pandas so, we can implement the Pandas library.
import pandas as pd

In [1]:
df = pd.DataFrame(
    {
        "Name":[
            "Braund, Mr. Owen Harris", 
            "Allen, Mr. William Henry", 
            "Bonnel, Miss. Elizabeth",
        ],
        "Age":[22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

NameError: name 'pd' is not defined

In [5]:
#Pandas is your powerful ETL tool (Extract Transfer Load)
#C:\Users\13129\Downloads\titanic.xlsx

In [6]:
#import the data for the Titanic file into a Data Df
titanic = pd.read_excel(r"C:\Users\13129\Downloads\titanic.xlsx)

SyntaxError: EOL while scanning string literal (3885743159.py, line 2)